body {
	background-color:green;
}

.name {
	text-align: center;
  font-family: verdana;
  text-transform: uppercase; 
  font-size: 50px;
  text-shadow: 3px 2px blue;
  font-weight: bold;
}

.cities2 {
  color: white;
  margin: 40px;
  padding: 30px;
  font-family: verdana;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: ;
  top: 0;
  width: 100%;
}

li {
  border-right: 1px blue;
}

li:last-child {
  border-right: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 109px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}
  
